// Close
@keyframes homeUp
    0%
        transform: translate(0px,0px)

    75%
        transform: translate(0,-2vh)
        opacity: 1
    100%
        opacity: 0
        transform: translate(70vw,-2vh)

@keyframes aboutUp
    0%
        transform: translate(0px,0px)

    75%
        transform: translate(0,-17vh)
        opacity: 1
    100%
        opacity: 0
        transform: translate(70vw,-17vh)

@keyframes offerUp
    0%
        transform: translate(0px,0px)

    75%
        transform: translate(0,-32vh)
        opacity: 1
    100%
        opacity: 0
        transform: translate(70vw,-32vh)

@keyframes blogUp
    0%
        transform: translate(0px,0px)

    75%
        transform: translate(0,-45vh)
        opacity: 1
    100%
        opacity: 0
        transform: translate(70vw,-45vh)

@keyframes contactUp
    0%
        transform: translate(0px,0px)

    75%
        transform: translate(0,-58vh)
        opacity: 1
    100%
        opacity: 0
        transform: translate(70vw,-58vh)

@keyframes loginUp
    0%
        transform: translate(0px,0px)

    75%
        transform: translate(0,-72vh)
        opacity: 1
    100%
        opacity: 0
        transform: translate(70vw,-72vh)

@keyframes menuOff
    0%
        height: 90vh
    50%
        height: 30vh
    100%
        height: 0vh

// Open

@keyframes homeDown
    0%
        transform: translate(70vw,-2vh)
        opacity: 0
    25%
        transform: translate(0,-2vh)
        opacity: 1
    100%
        transform: translate(0,0)

@keyframes aboutDown
    0%
        transform: translate(70vw,-17vh)
        opacity: 0
    25%
        transform: translate(0,-17vh)
        opacity: 1
    100%
        transform: translate(0,0)

@keyframes offerDown
    0%
        transform: translate(70vw,-32vh)
        opacity: 0
    25%
        transform: translate(0,-32vh)
        opacity: 1
    100%
        transform: translate(0,0)

@keyframes blogDown
    0%
        transform: translate(70vw,-45vh)
        opacity: 0
    25%
        transform: translate(0,-45vh)
        opacity: 1
    100%
        transform: translate(0,0)

@keyframes contactDown
    0%
        transform: translate(70vw,-58vh)
        opacity: 0
    25%
        transform: translate(0,-58vh)
        opacity: 1
    100%
        transform: translate(0,0)

@keyframes loginDown
    0%
        transform: translate(70vw,-72vh)
        opacity: 0
    25%
        transform: translate(0,-72vh)
        opacity: 1
    100%
        transform: translate(0,0)

@keyframes menuOn
    0%
        height: 0
    50%
        height: 70vh
    100%
        height: 90vh

// Vent frames

@keyframes vent_1_to_0_left
    0%
        transform: rotate(0)

    75%
        opacity: 1
    100%
        transform: rotate(-4320deg)

        opacity: 0

@keyframes x_0_to_1_right
    0%
        transform: rotate(0)
        opacity: 0
    75%
        opacity: 1
    100%
        transform: rotate(-2880deg)

@keyframes x_1_to_0_left
    0%
        transform: rotate(0)
    75%
        opacity: 1
    100%
        transform: rotate(3600deg)
        opacity: 0

@keyframes vent_from_0_to_1_right
    0%
        transform: rotate(0)
        opacity: 0
    75%
        opacity: 1
    100%
        transform: rotate(4320deg)
