@import './_variables'
@import './_mixins'
@import './_screenBreakPoints'

.feedback
    display: flex
    height: 100%
    width: 100%
    background: rgba(187,177,219,0.04)
    border-radius: 2px
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(2.4px)
    -webkit-backdrop-filter: blur(2.4px)
    .feedback__emoji
        position: relative
        top: .5rem
        left: 50%
        .icon-emo-happy
            font-size: 2rem
            color: green
    .feedback__quote
        position: absolute
        top: 1rem
        left: .5rem
        font-family: $fontSecular
        font-size: 65px
    .feedback__content
        width: 50%
        font-family: $fontLato
        position: relative
        top: 4rem
        margin: 0 2rem
        p
            width: 150%
            font-size: 0.6rem
    .feedback__signature
        position: absolute
        top: 7rem
        left: 3rem
        font-style: italic
        font-size: 0.7rem
        white-space: nowrap

// MEDIA QUERIES
@media (max-width: $layout_Phone) and (orientation: portrait)
    .feedback
        .feedback__emoji
            .icon-emo-happy
        .feedback__quote
        .feedback__content
            margin: 0 4rem
            top: 4rem
            width: 40%
            p
                font-size: 0.8rem
        .feedback__signature
            top: 9rem

@media (max-width: $layout_Phone) and (orientation: landscape)

@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: portrait)
    .feedback
        .feedback__emoji
            .icon-emo-happy
        .feedback__quote
        .feedback__content
            top: 7rem
            font-size: 0.8rem
            margin: 0 2rem
            p
        .feedback__signature
            top: 11rem

@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: landscape)

@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: portrait)

@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: landscape)

@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: portrait)

@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: landscape)

@media (min-width: $layout_Large) and (orientation: portrait)

@media (min-width: $layout_Large) and (orientation: landscape)
