
// @import './_mixins'

@mixin h2()
    font-size: 2rem
    text-transform: uppercase
    text-align: center
    font-family: $fontLato
    color: $fontColor
    margin-top: 2rem

@mixin h3()
    font-size: 1.2rem
    text-transform: uppercase
    text-align: center
    font-family: $fontLato
    color: $fontColor
    margin-top: 1rem
@mixin h4()
    font-size: 1rem
    text-transform: uppercase
    text-align: center
    font-family: $fontLato
    color: $fontColor

@mixin h5()
    font-size: 0.8rem
    text-transform: uppercase
    text-align: center
    font-family: $fontLato
    color: $fontColor

// background: rgb(208,190,212);
// background: linear-gradient(0deg, rgba(208,190,212,1) 0%, rgba(187,176,219,1) 50%, rgba(166,163,225,1) 100%);

@mixin sign()
    width: 100%
    height: 74vh

@mixin forms()
    min-width: 100%
    max-width: 50vw
    height: 74vh

@mixin inputForm()
    width: 100%
    padding: 0.5rem
    margin-top: 0.7rem
    border: 0
    border-radius: 2px
    background: $fontColorDark
    text-transform: capitalize
    color: $fontColorSelectLight
    font-family: $fontLato

@mixin inputFormPhone()
    width: 100%

@mixin inputFormFocus()
    box-shadow: 0 0 15px 4px $backgroundColorButtonSingin
    background: $fontColorMidBlue

@mixin sitemapSection()
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 30%
    margin: 0 1rem
@mixin sitemapBtn()
    cursor: pointer
    &:hover
        p
            font-weight: bold
            font-style: normal
@mixin sitemapElements()
    margin-top: 1rem
@mixin sitemapParagraph()
    font-family: $fontLato
    text-transform: capitalize
    font-size: 0.8rem
    font-style: oblique
// MEDIA QUERIES OFFER SECTION PHONE 
@mixin offerWrapperPhone()
    margin: 3rem 0.5rem
@mixin offerMain()
    flex-direction: column
@mixin offerMainParagraph()
    width: 100vw
    padding: 0 1rem
@mixin offerH5()
    margin: 0 0.5rem
@mixin offerBtnMargin()
    margin: 1rem 0
@mixin offerImgContainer()
    width: 100vw
@mixin offerImg()
    margin: 10% 16%
    transform: rotate(0)
// MEDIA QUERIES OFFER SECTION Phone to Tablet
@mixin offerWrapperTablet
    margin: 3rem 3rem
@mixin offerMainParagraphTablet()
    margin: 0 1rem
@mixin offerBtnPositionTablet()
    left: 25vw
// MEDIA QUERIES OFFER SECTION Tablet to Laptop
@mixin offerMainParagraphLaptop()
    margin: 0 1rem
@mixin offerBtnPositionLaptop()
    left: 30vw
    top: 6vh
