$backgroundColor: #D0BED4
$backgroundColorSwiper: #D0BED4
$backgroundColorButtonSingin: #242961
$backgroundColorBtnDark: #242961
$backgroundColorBtnDarkOpacity: #1e2251
$backgroundColorBlogCard: #7c87ed5a

$btnBackgroundColorHover: rgb(124, 135, 237)
$btnBackgroundColorHoverOpacity: rgba(124, 135, 237, 0.63)
//  #0004ffa8
// Fonts
$fontLato: 'Lato', sans-serif
$fontSecular: 'Secular One', sans-serif

$fontColor: #D0BED4
$fontColorLight: #7c87ed
$fontColorDark: #333
$fontColorMid: #433939
$fontColorMidBlue: #3d3943
$fontColorHover: #7c87ed
$fontColorHoverLight: #D0BED4
$fontColorSelectLight: #D0BED4

$fontIconSize: 2rem
$marginTop: 2rem

$buttonHeight: 8vh

// background: rgb(124,135,237)
// background: linear-gradient(0deg, rgba(124,135,237,1) 0%, rgba(208,190,212,1) 100%)

// afsaf

// $backgroundColor: #ddc1c1
// $backgroundColorSwiper: #6c614f
// $bacgroundColorButtonSingin: rgb(0, 0, 96)

// $btnBackgroundColorHover: #ff5500b1

// $fontLato: 'Lato', sans-serif
// $fontSecular: 'Secular One', sans-serif

// $fontColor: #ddc1c1
// $fontColorLight: #ec8b8b
// $fontColorDark: #333
// $fontColorMid: #433939
// $fontColorHover: #ff5500b1
// $fontColorHoverLight: #ddc1c1

// $fontIconSize: 2rem
// $marginTop: 2rem

// $buttonHeight: 8vh
