$backgroundColor: #ddc1c1
$backgroundColorSwiper: #6c614f

$btnBackgroundColorHover: #0004ffa8
// Fonts
$fontLato: 'Lato', sans-serif
$fontSecular: 'Secular One', sans-serif

$fontColorDark: #333
$fontColor: #ddc1c1
$fontColorHover: #ff5500b1
$fontColorHoverLight: #ddc1c1
