
@import './_variables'

.about
    display: grid
    grid-template-columns: repeat(12, 1fr)
    // grid-template-rows: repeat(2, 1fr)
    grid-auto-rows: auto
    grid-column-gap: 0px
    grid-row-gap: 10px
    justify-items: center
    background-color: $backgroundColor
    padding-top: 2rem

    .about__header
        grid-area: 1 / 5 / 2 / 9

        h2
            font-size: 2rem
            text-transform: uppercase
            font-family: $fontLato
    .about__main
        grid-area: 2 / 1 / 3 / 13
        display: flex
        flex-direction: row
        margin: 3rem
        align-items: center
        .about__p
            h5
                margin: 0 10rem
                font-family: $fontLato

        .about__pic

            img
                border-radius: 10px
                transform: rotate(15deg)
                min-height: 100px
                max-height: 400px
                margin-right: 10rem
        .about__btn
            .about__pricing
                display: flex
                justify-content: center
                align-items: center
                position: relative
                top: 8vh
                left: 45vw
                transform: translate(-50%, -50%)
                height: 3rem
                border: none
                text-transform: uppercase
                color: $fontColor
                font-weight: bold
                background-color: $backgroundColor
                cursor: pointer
                background: rgba( 0, 0, 0, 0.5 )
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
                backdrop-filter: blur( 3px )
                border-radius: 2px
                border: 1px solid rgba( 255, 255, 255, 0.18 )
                &:hover
                    background-color: $btnBackgroundColorHover
