@import './_mixins'
@import './_variables'
@import './_keyFrames'

.blogComponent
    .blogCardComponent
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(5, 1fr)
        height: 210vh
        background: rgb(124,135,237)
        background: linear-gradient(0deg, rgba(124,135,237,1) 0%, rgba(208,190,212,1) 100%)
    .modal
        display: flex
        align-items: center
        justify-content: center
        width: 100vw
        height: 100vh
        background: rgba(0, 0, 0, 0.4)
        position: fixed
        top: 0
        left: 0
        z-index: 3
        animation: cookie 1s ease-in 0s 1 normal
        opacity: 0
        display: none
        .modal__closeBtn
            position: relative
            top: -45%
            right: 0
            cursor: pointer
            .icon-cancel
                font-size: 3rem
                color: $fontColor
