
$backgroundColor: #ddc1c1
$fontColor: #ddc1c1
$btnBackgroundColorHover: #0004ffa8

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap')

.carouselBrands
    // display: flex
    background-color: $backgroundColor
    padding: 1rem
    .brands__header
        display: flex
        align-items: center
        justify-content: center
        margin: 2rem 0
        h2
            font-family: 'Lato', sans-serif
            text-transform: uppercase
            font-size: 2rem

    .brands
        height: 15vh
        margin: 0 3rem
