
$backgroundColor: #ddc1c1
$fontColor: #ddc1c1
$btnBackgroundColorHover: #0004ffa8

.carouselOpinion
    background-color: $backgroundColor
    padding: 1rem
    .mySwiper
        height: 40vh
        margin: 0 3rem
