
@import './_variables'

.carouselBrands
    // display: flex
    background-color: $backgroundColor
    padding: 1rem
    .brands__header
        display: flex
        align-items: center
        justify-content: center
        margin: 2rem 0
        h2
            font-family: $fontLato
            text-transform: uppercase
            font-size: 2rem

    .brands
        height: 15vh
        margin: 0 3rem
