
@import './_variables'
@import './_mixins'

.carouselBrands
    // display: flex
    background: rgb(208,190,212)
    background: linear-gradient(0deg, rgba(208,190,212,1) 0%, rgba(187,177,219,1) 100%)
    padding: 1rem
    .brands__header
        display: flex
        align-items: center
        justify-content: center
        margin: 2rem 0
        h2
            @include h2
    .brands
        height: 15vh
        margin: 0 3rem
