
@import './_variables'
@import './_screenBreakPoints'

*
    text-decoration: none
    color: $fontColorDark
.contact
    display: flex
    flex-direction: row
    width: 100%
    height: 110vh
    background: rgb(124,135,237)
    background: linear-gradient(0deg, rgba(124,135,237,1) 0%, rgba(208,190,212,1) 100%)
    font-family: $fontLato

    .contact__left
        display: flex
        flex-direction: column
        height: 80%
        width: 50%
        border-right: black 1px solid
        margin: 3.5rem 0
        padding-top: 10rem
        .contact__tel
            margin-left: 40%
            margin-top: 1%
            .icon-phone
                font-size: $fontIconSize
        .contact__mail
            margin-left: 40%
            margin-top: 1%
            .icon-mail-squared
                font-size: $fontIconSize
        .contact__address
            margin-left: 38%
            margin-top: 1%
            p
                width: 85%
                text-align: center
            .icon-home
                font-size: calc($fontIconSize * 1.1)
                position: relative
                top: 0.5rem
        span
            margin-left: 40%
            margin-top: 2%
            width: 40%
            text-align: center
// MEDIA QUERIES
@media (max-width: $layout_Phone) and (orientation: portrait)
    .contact
        flex-direction: column-reverse
        width: 100vw
        height: auto
        .contact__left
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            height: 80%
            width: 100%
            border-right: black 1px solid
            margin: 0
            padding-top: 0

            .contact__tel
                margin-left: 0
                margin-top: 3%
                .icon-phone
                    font-size: $fontIconSize
            .contact__mail
                margin-left: 0
                margin-top: 3%
                .icon-mail-squared
                    font-size: $fontIconSize
            .contact__address
                margin-left: 0
                margin-top: 3%
                p
                    width: 85%
                    text-align: center
                .icon-home
                    font-size: calc($fontIconSize * 1.1)
                    position: relative
                    top: 0.5rem
            span
                margin-left: 0
                margin-top: 2%
                width: 40%
                text-align: center
@media (max-width: $layout_Phone) and (orientation: landscape)

@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: portrait)
@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: landscape)

@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: portrait)
@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: landscape)

@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: portrait)
@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: landscape)

@media (min-width: $layout_Large) and (orientation: portrait)
@media (min-width: $layout_Large) and (orientation: landscape)
