
@import './_variables'
@import './_mixins'
@import './_screenBreakPoints'

.footer
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(5, 1fr)
    grid-column-gap: px
    grid-row-gap: 0px
    width: 100%
    background: rgb(187,177,219)
    background: linear-gradient(0deg, rgba(187,177,219,1) 0%, rgba(124,135,237,1) 100%)
    box-shadow: 0 8px 32px 0 #333
    font-family: $fontLato
    .footer__sm
        grid-area: 1 / 1 / 2 / 4
        display: flex
        justify-content: center
        margin: 2rem
        .icon-facebook-squared
            font-size: $fontIconSize
            color: $fontColorDark
            margin: 0 1rem
            &:hover
                background-color: #3b5998
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
                backdrop-filter: blur( 3px )
                border-radius: 2px
                border: 1px solid rgba( 255, 255, 255, 0.18 )
                color: $fontColorHoverLight
        .icon-instagram
            font-size: $fontIconSize
            color: $fontColorDark
            margin: 0 1rem
            &:hover
                background: #E1306C
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
                backdrop-filter: blur( 3px )
                border-radius: 2px
                border: 1px solid rgba( 255, 255, 255, 0.18 )
                color: $fontColorHoverLight
        .icon-linkedin-squared
            font-size: $fontIconSize
            color: $fontColorDark
            margin: 0 1rem
            &:hover
                background: #0A66C2
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
                backdrop-filter: blur( 3px )
                border-radius: 2px
                border: 1px solid rgba( 255, 255, 255, 0.18 )
                color: $fontColorHoverLight
    .footer__required
        grid-area: 2 / 1 / 5 / 2
        display: flex
        flex-direction: column
        text-transform: capitalize
        font-size: 0.8rem
        font-style: oblique
        padding: 2rem
        justify-content: center
        align-items: center
        border-right: 1px solid $fontColorDark
        .footer__pp
            padding: 1rem
        .footer__termsOfUse
            padding: 1rem
    .footer__sitemap
        grid-area: 2 / 2 / 5 / 3
        display: flex
        flex-direction: column
        padding: 2rem
        justify-content: center
        align-items: center
        border-right: 1px solid $fontColorDark
        .sitemap__wrapper
            display: flex
            .sitemap__offer
                @include sitemapSection
                .sitemap__airConditioning
                    @include sitemapElements
                    .sitemap__airConditioning-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
                .sitemap__ventilation
                    @include sitemapElements
                    .sitemap__ventilation-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
                .sitemap__heatPump
                    @include sitemapElements
                    .sitemap__heatPump-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
                .sitemap__recuperation
                    @include sitemapElements
                    .sitemap__recuperation-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
                .sitemap__fireProtection
                    @include sitemapElements
                    .sitemap__fireProtection-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
            .sitemap__blog-wrapper
                @include sitemapSection
                .sitemap__blog
                    @include sitemapElements
                    .sitemap__blog-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
            .sitemap__aboutUs
                @include sitemapSection
                .sitemap__about
                    @include sitemapElements
                    .sitemap__about-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
                .sitemap__contact
                    @include sitemapElements
                    .sitemap__contact-btn
                        @include sitemapBtn
                        p
                            @include sitemapParagraph
    .footer__contact
        grid-area: 2 / 3 / 5 / 4
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .footer__p
            margin-bottom: 8%
            p
                font-size: 1rem
        .footer__tel
            display: flex
            align-items: center
            margin-top: 1%
            padding-right: 20%
            a
                .icon-phone
                    font-size: $fontIconSize
        .footer__mail
            display: flex
            align-items: center
            margin-top: 1%
            a
                margin-top: 1rem
                .icon-mail-squared
                    font-size: $fontIconSize
        .footer__address
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-top: 3rem
            .icon-home
                font-size: calc($fontIconSize * 1.5)
            p
                text-transform: capitalize
                word-break: break-all
    .footer__copyright
        grid-area: 5 / 1 / 6 / 4
        width: 100%
        display: flex
        justify-content: center
        align-self: flex-end
        padding: 10px
        box-shadow: 0 8px 32px 0 #333

// MEDIA QUERIES
@media (max-width: $layout_Phone) and (orientation: portrait)
    .footer
        display: flex
        flex-direction: column
        .footer__sm
            .icon-facebook-squared
                &:hover
            .icon-instagram
                &:hover
            .icon-linkedin-squared
                &:hover
        .footer__required
            .footer__pp
            .footer__termsOfUse
        .footer__sitemap
            .sitemap__wrapper
                .sitemap__offer
                    .sitemap__airConditioning
                        .sitemap__airConditioning-btn
                            p
                    .sitemap__ventilation
                        .sitemap__ventilation-btn
                            p
                    .sitemap__heatPump
                        .sitemap__heatPump-btn
                            p
                    .sitemap__recuperation
                        .sitemap__recuperation-btn
                            p
                    .sitemap__fireProtection
                        .sitemap__fireProtection-btn
                            p
                .sitemap__blog-wrapper
                    .sitemap__blog
                        .sitemap__blog-btn
                            p
                .sitemap__aboutUs
                    .sitemap__about
                        .sitemap__about-btn
                            p
                    .sitemap__contact
                        .sitemap__contact-btn
                            p
        .footer__contact
            .footer__p
                p
            .footer__tel
                a
                    .icon-phone
            .footer__mail
                a
                    .icon-mail-squared
            .footer__address
                margin-bottom: 1.5rem
        .footer__copyright
            box-shadow: 0 8px 32px 0 #333
@media (max-width: $layout_Phone) and (orientation: landscape)

@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: portrait)
@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: landscape)

@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: portrait)
@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: landscape)

@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: portrait)
@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: landscape)

@media (min-width: $layout_Large) and (orientation: portrait)
@media (min-width: $layout_Large) and (orientation: landscape)
