
@import './_variables'

*
    text-decoration: none
    color: $fontColorDark
.head__footer
    display: flex
    flex-direction: row
    width: 100%
    height: 20vh
    background-color: $backgroundColor
    font-family: $fontLato

    .hfooter__left
        display: flex
        flex-direction: column
        height: 80%
        width: 50%
        border-right: black 1px solid
        .hfooter__tel
            margin-left: 40%
            margin-top: 1%
            .icon-phone
                font-size: 2rem
        .hfooter__mail
            margin-left: 40%
            margin-top: 1%
            .icon-mail-squared
                font-size: 2rem
    .hfooter__right
        display: flex
        flex-direction: column
        height: 80%
        width: 50%
        border-left: black 1px solid
        justify-content: center
        align-items: center
        .icon-home
            font-size: 3rem
        p
            text-transform: uppercase
