$backGroundColor: #ddc1c1
$fontColor: #ddc1c1

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap')

*
    border: none
    background: transparent
    text-transform: uppercase

.nav
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 10px
    grid-row-gap: 0px
    height: 2rem
    padding: 2rem
    align-content: space-around
    background-color: $backGroundColor
    .nav__logo
        grid-area: 1 / 11 / 2 / 13
        cursor: pointer
        font-family: 'Lato', sans-serif
        font-weight: bold
        a
            text-decoration: none
            color: black
    .nav__aboutBtn
        grid-area: 1 / 6 / 2 / 7
        cursor: pointer
        font-family: 'Lato', sans-serif
        font-weight: bold
        &:hover
            height: 100%
            background: rgba( 0, 0, 0, 0.5 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 3px )
            border-radius: 2px
            border: 1px solid rgba( 255, 255, 255, 0.18 )
        &:hover
            a
                color: $fontColor
        a
            text-decoration: none
            color: black
        i
            color: blue
    .offerDD__btn
        grid-area: 1 / 7 / 2 / 8
        cursor: pointer
        font-family: 'Lato', sans-serif
        font-weight: bold

        &:hover
            height: 100%
            background: rgba( 0, 0, 0, 0.5 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 3px )
            border-radius: 2px
            border: 1px solid rgba( 255, 255, 255, 0.18 )
        &:hover
            a
                color: $fontColor
        i
            color: blue
    .offerDD__dropdown
        position: absolute
        font-family: 'Lato', sans-serif
        font-weight: bold
        a
            display: none
            text-decoration: none
            color: #333
    .nav__blogBtn
        grid-area: 1 / 8 / 2 / 9
        cursor: pointer
        font-family: 'Lato', sans-serif
        font-weight: bold
        &:hover
            height: 100%
            background: rgba( 0, 0, 0, 0.5 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 3px )
            border-radius: 2px
            border: 1px solid rgba( 255, 255, 255, 0.18 )
        &:hover
            a
                color: $fontColor
        a
            text-decoration: none
            color: #333
    .nav__contactBtn
        grid-area: 1 / 9 / 2 / 10
        cursor: pointer
        font-family: 'Lato', sans-serif
        font-weight: bold
        transition: 0.3s
        &:hover
            height: 100%
            background: rgba( 0, 0, 0, 0.5 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 3px )
            border-radius: 2px
            border: 1px solid rgba( 255, 255, 255, 0.18 )
        &:hover
            a
                color: $fontColor
        a
            color: #333
            text-decoration: none
            line-height: 3.5
            letter-spacing: 1px
    .nav__loginBtn
        grid-area: 1 / 1 / 2 / 2
        cursor: pointer
        font-family: 'Lato', sans-serif
        font-weight: bold
        &:hover
            height: 100%
            background: rgba( 250, 0, 0, 0.75 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 3px )
            border-radius: 2px
            border: 1px solid rgba( 255, 255, 255, 0.18 )
        &:hover
            a
                color: $fontColor

        a
            text-decoration: none
            color: #333
