@import './_variables'
@import './_mixins'
@import './_screenBreakPoints'

.registrationcompany
    .registrationcompany__forms
        @include forms
        .registrationcompany__sign
            @include sign
            display: flex
            flex-direction: column
            align-items: center
            position: relative
            h2
                @include h2
                font-weight: Bold
                color: $fontColorDark
            span
                color: $fontColorDark
                font-size: 0.8rem
                margin: 0 6rem
            .registrationcompany__input
                display: flex
                flex-direction: column
                margin: 1rem 0
                border-top: 1px solid $fontColorDark
                input[type=email]
                    @include inputForm()
                    width: 100%
                    text-transform: none
                    &:focus
                        @include inputFormFocus()
                    &::placeholder
                        color: $fontColorSelectLight
                input[type=password]
                    @include inputForm()
                    width: 100%
                    text-transform: none
                    &:focus
                        @include inputFormFocus()
                    &::placeholder
                        color: $fontColorSelectLight
                .icon
                    position: absolute
                    top: 9.8rem
                    left: 10.5rem
                    i
                        font-size: 1.2rem
                        color: $fontColorSelectLight
                input[type=text]
                    @include inputForm()
                    width: 100%
                    text-transform: none
                    &:focus
                        @include inputFormFocus()
                    &::placeholder
                        color: $fontColorSelectLight
            input[type=submit]
                height: $buttonHeight
                box-shadow: 0 8px 32px 0 rgba($btnBackgroundColorHover,0.1 )
                border-radius: 2px
                border: 1px solid #333
                cursor: pointer
                font-weight: bold
                position: relative
                top: 1rem
                left: 14rem
                color: $fontColorDark
                &:hover
                    background: $backgroundColorBtnDark
                    color: $fontColorHover
                    font-weight: bold

    // MEDIA QUERIES

@media (max-width: $layout_Phone) and (orientation: portrait)
    .registrationcompany
        .registrationcompany__forms
            .registrationcompany__sign
                h2
                span
                    margin: 0
                .registrationcompany__input
                    input[type=email]
                        @include inputFormPhone()
                        &:focus
                        &::placeholder
                    input[type=password]
                        @include inputFormPhone()
                        &:focus
                        &::placeholder
                    input[type=address]
                        @include inputFormPhone()
                        &:focus
                        &::placeholder
                input[type=submit]
                    top: 0
                    left: 8rem
                    &:hover

@media (max-width: $layout_Phone) and (orientation: landscape)
@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: portrait)
@media (min-width: $layout_Phone) and (max-width: $layout_Tablet) and (orientation: landscape)
@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: portrait)
@media (min-width: $layout_Tablet) and (max-width: $layout_Laptop) and (orientation: landscape)
@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: portrait)
@media (min-width: $layout_Laptop) and (max-width: $layout_Large) and (orientation: landscape)
@media (min-width: $layout_Large) and (orientation: portrait)
@media (min-width: $layout_Large) and (orientation: landscape)
