.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: px;
  grid-row-gap: 0px;
  background-color: #ddc1c1;
  border-top: 0.01rem solid black;
  font-family: "Lato", sans-serif;
}
.footer .footer__sm {
  grid-area: 1/1/2/4;
  display: flex;
  justify-content: center;
  margin: 2rem 30rem;
}
.footer .footer__sm .icon-facebook-squared {
  font-size: 2rem;
  color: #333;
  border: 1px solid #ddc1c1;
  margin: 0 1rem;
}
.footer .footer__sm .icon-facebook-squared:hover {
  background-color: #3b5998;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #ddc1c1;
}
.footer .footer__sm .icon-instagram {
  font-size: 2rem;
  color: #333;
  border: 1px solid #ddc1c1;
  margin: 0 1rem;
}
.footer .footer__sm .icon-instagram:hover {
  background: #E1306C;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #ddc1c1;
}
.footer .footer__sm .icon-linkedin-squared {
  font-size: 2rem;
  color: #333;
  border: 1px solid #ddc1c1;
  margin: 0 1rem;
}
.footer .footer__sm .icon-linkedin-squared:hover {
  background: #0A66C2;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #ddc1c1;
}
.footer .footer__required {
  grid-area: 2/1/5/2;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-style: oblique;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #333;
}
.footer .footer__required .footer__pp {
  padding: 1rem;
}
.footer .footer__required .footer__termsOfUse {
  padding: 1rem;
}
.footer .footer__sitemap {
  grid-area: 2/2/5/3;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-style: oblique;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #333;
}
.footer .footer__contact {
  grid-area: 2/3/5/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__contact span {
  align-self: flex-start;
  position: relative;
  bottom: 1rem;
  left: 1rem;
}
.footer .footer__contact .footer__tel {
  display: flex;
  align-items: center;
  margin-top: 1%;
  padding-right: 20%;
}
.footer .footer__contact .footer__tel a .icon-phone {
  font-size: 2rem;
}
.footer .footer__contact .footer__mail {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.footer .footer__contact .footer__mail a {
  margin-top: 1rem;
}
.footer .footer__contact .footer__mail a .icon-mail-squared {
  font-size: 2rem;
}
.footer .footer__contact .footer__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.footer .footer__contact .footer__address .icon-home {
  font-size: 3rem;
}
.footer .footer__contact .footer__address p {
  text-transform: capitalize;
  word-break: break-all;
}
.footer .footer__copyright {
  grid-area: 5/1/6/4;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding: 10px;
  border-top: 0.01rem solid black;
  margin: 0 3rem;
}/*# sourceMappingURL=Footer.css.map */