@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  border: none;
  background: transparent;
  text-transform: uppercase;
}

.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  height: 2rem;
  padding: 2rem;
  align-content: space-around;
  background-color: #ddc1c1;
}
.nav .nav__logo {
  grid-area: 1/11/2/13;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.nav .nav__logo a {
  text-decoration: none;
  color: black;
}
.nav .nav__aboutBtn {
  grid-area: 1/6/2/7;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.nav .nav__aboutBtn:hover {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nav .nav__aboutBtn:hover a {
  color: #ddc1c1;
}
.nav .nav__aboutBtn a {
  text-decoration: none;
  color: black;
}
.nav .nav__aboutBtn i {
  color: blue;
}
.nav .offerDD__btn {
  grid-area: 1/7/2/8;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.nav .offerDD__btn:hover {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nav .offerDD__btn:hover a {
  color: #ddc1c1;
}
.nav .offerDD__btn i {
  color: blue;
}
.nav .offerDD__dropdown {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.nav .offerDD__dropdown a {
  display: none;
  text-decoration: none;
  color: #333;
}
.nav .nav__blogBtn {
  grid-area: 1/8/2/9;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.nav .nav__blogBtn:hover {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nav .nav__blogBtn:hover a {
  color: #ddc1c1;
}
.nav .nav__blogBtn a {
  text-decoration: none;
  color: #333;
}
.nav .nav__contactBtn {
  grid-area: 1/9/2/10;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  transition: 0.3s;
}
.nav .nav__contactBtn:hover {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nav .nav__contactBtn:hover a {
  color: #ddc1c1;
}
.nav .nav__contactBtn a {
  color: #333;
  text-decoration: none;
  line-height: 3.5;
  letter-spacing: 1px;
}
.nav .nav__loginBtn {
  grid-area: 1/1/2/2;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.nav .nav__loginBtn:hover {
  height: 100%;
  background: rgba(250, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nav .nav__loginBtn:hover a {
  color: #ddc1c1;
}
.nav .nav__loginBtn a {
  text-decoration: none;
  color: #333;
}/*# sourceMappingURL=index.css.map */