* {
  border: none;
  background: transparent;
  text-transform: uppercase;
}
* .nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  height: 10vh;
  width: 100%;
  padding: 2rem;
  align-content: space-around;
  z-index: 2;
  background: rgba(221, 193, 193, 0.5);
  box-shadow: 0 8px 32px 0 #333;
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(221, 193, 193, 0.18);
}
* .nav.sticky {
  position: fixed;
  top: 0;
}
* .nav .nav__logo {
  grid-area: 1/11/2/13;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
* .nav .nav__logo .link__logo p {
  text-decoration: none;
  color: #333;
}
* .nav .nav__aboutBtn {
  grid-area: 1/6/2/7;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
* .nav .nav__aboutBtn:hover {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .nav__aboutBtn:hover .link__about p {
  color: #ddc1c1;
  text-decoration: none;
}
* .nav .offerDD__btn {
  grid-area: 1/7/2/8;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
* .nav .offerDD__btn:hover {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .offerDD__btn:hover p {
  color: #ddc1c1;
}
* .nav .offerDD__btn:hover i {
  color: #ddc1c1;
}
* .nav .offerDD__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11.2vh;
  left: 48.6vw;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
  z-index: 2;
}
* .nav .offerDD__dropdown .link__air .air__p {
  height: 8vh;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__air .air__p:hover p {
  color: rgba(255, 85, 0, 0.6941176471);
}
* .nav .offerDD__dropdown .link__air .air__p p {
  color: #ddc1c1;
}
* .nav .offerDD__dropdown .link__vent .vent__p {
  height: 8vh;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__vent .vent__p:hover p {
  color: rgba(255, 85, 0, 0.6941176471);
}
* .nav .offerDD__dropdown .link__vent .vent__p p {
  color: #ddc1c1;
}
* .nav .offerDD__dropdown .link__heat .heat__p {
  height: 8vh;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__heat .heat__p:hover p {
  color: rgba(255, 85, 0, 0.6941176471);
}
* .nav .offerDD__dropdown .link__heat .heat__p p {
  color: #ddc1c1;
}
* .nav .offerDD__dropdown .link__recu .recu__p {
  height: 8vh;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__recu .recu__p:hover p {
  color: rgba(255, 85, 0, 0.6941176471);
}
* .nav .offerDD__dropdown .link__recu .recu__p p {
  color: #ddc1c1;
}
* .nav .offerDD__dropdown .link__shop .shop__p {
  height: 8vh;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__shop .shop__p:hover p {
  color: red;
}
* .nav .offerDD__dropdown .link__shop .shop__p p {
  color: #ddc1c1;
}
* .nav .offerDD__dropdown_active {
  display: none;
}
* .nav .nav__blogBtn {
  grid-area: 1/8/2/9;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
}
* .nav .nav__blogBtn:hover {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .nav__blogBtn:hover .link__blog p {
  color: #ddc1c1;
}
* .nav .nav__blogBtn .link__blog p {
  text-decoration: none;
  color: #333;
}
* .nav .nav__contactBtn {
  grid-area: 1/9/2/10;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
}
* .nav .nav__contactBtn:hover {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .nav__contactBtn:hover .link__contact p {
  color: #ddc1c1;
}
* .nav .nav__contactBtn .link__contact p {
  color: #333;
  text-decoration: none;
  line-height: 3.5;
  letter-spacing: 1px;
}
* .nav .nav__loginBtn {
  grid-area: 1/1/2/2;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
}
* .nav .nav__loginBtn:hover {
  background: rgba(250, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .nav__loginBtn:hover .link__login p {
  color: #ddc1c1;
}
* .nav .nav__loginBtn .link__login p {
  text-decoration: none;
  color: #333;
}/*# sourceMappingURL=Nav.css.map */