@keyframes homeUp {
  0% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0, -2.9rem);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(6rem, -2.9rem);
  }
}
@keyframes aboutUp {
  0% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0, -5.4rem);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(6rem, -5.4rem);
  }
}
@keyframes offerUp {
  0% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0, -7.9rem);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(6rem, -7.9rem);
  }
}
@keyframes blogUp {
  0% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0, -10rem);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(6rem, -10rem);
  }
}
@keyframes contactUp {
  0% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0, -12rem);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(6rem, -12rem);
  }
}
@keyframes loginUp {
  0% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0, -14.5rem);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(6rem, -14.5rem);
  }
}
@keyframes menuOff {
  0% {
    width: 10.1rem;
    height: 18rem;
  }
  25% {
    height: 15rem;
  }
  50% {
    height: 10rem;
  }
  90% {
    width: 10.1rem;
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes homeDown {
  0% {
    transform: translate(6rem, -2.9rem);
    opacity: 0;
  }
  25% {
    transform: translate(0, -2.9rem);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes aboutDown {
  0% {
    transform: translate(6rem, -5.4rem);
    opacity: 0;
  }
  25% {
    transform: translate(0, -5.4rem);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes offerDown {
  0% {
    transform: translate(6rem, -7.9rem);
    opacity: 0;
  }
  25% {
    transform: translate(0, -7.9rem);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes blogDown {
  0% {
    transform: translate(6rem, -10rem);
    opacity: 0;
  }
  25% {
    transform: translate(0, -10rem);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes contactDown {
  0% {
    transform: translate(6rem, -12rem);
    opacity: 0;
  }
  25% {
    transform: translate(0, -12rem);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes loginDown {
  0% {
    transform: translate(6rem, -14.5rem);
    opacity: 0;
  }
  25% {
    transform: translate(0, -14.5rem);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes menuOn {
  0% {
    height: 0rem;
  }
  100% {
    height: 18rem;
  }
}
* {
  border: none;
  background: transparent;
  text-transform: uppercase;
}
* .nav {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  height: 10vh;
  width: 100%;
  padding: 2rem;
  align-content: space-around;
  z-index: 2;
  background: rgba(208, 190, 212, 0.4);
  box-shadow: 0 8px 32px 0 #333;
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(221, 193, 193, 0.18);
  overflow: hidden;
}
* .nav.sticky {
  position: fixed;
  top: 0;
}
* .nav .nav__logo {
  grid-area: 1/5/2/6;
  cursor: pointer;
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
}
* .nav .nav__logo .link__logo .icon-home {
  color: #333;
}
* .nav .nav__logo .link__logo .icon-home:hover {
  color: #7c87ed;
}
* .nav .link__about {
  grid-area: 1/6/2/7;
  display: flex;
}
* .nav .link__about .nav__aboutBtn {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
* .nav .link__about .nav__aboutBtn:hover {
  height: 100%;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .link__about .nav__aboutBtn:hover p {
  color: #7c87ed;
  text-decoration: none;
}
* .nav .offerDD__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/7/2/8;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
* .nav .offerDD__btn i {
  color: #333;
}
* .nav .offerDD__btn:hover {
  height: 100%;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .offerDD__btn:hover p {
  color: #D0BED4;
}
* .nav .offerDD__btn:hover i {
  color: #D0BED4;
}
* .nav .offerDD__btn_active {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/7/2/8;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 100%;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .offerDD__btn_active p {
  color: #D0BED4;
}
* .nav .offerDD__btn_active i {
  color: #D0BED4;
}
* .nav .offerDD__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11.2vh;
  left: 48.6vw;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
  z-index: 3;
}
* .nav .offerDD__dropdown .link__air .air__p {
  height: 8vh;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__air .air__p:hover p {
  color: #7c87ed;
}
* .nav .offerDD__dropdown .link__air .air__p p {
  color: #D0BED4;
}
* .nav .offerDD__dropdown .link__vent .vent__p {
  height: 8vh;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__vent .vent__p:hover p {
  color: #7c87ed;
}
* .nav .offerDD__dropdown .link__vent .vent__p p {
  color: #D0BED4;
}
* .nav .offerDD__dropdown .link__heat .heat__p {
  height: 8vh;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__heat .heat__p:hover p {
  color: #7c87ed;
}
* .nav .offerDD__dropdown .link__heat .heat__p p {
  color: #D0BED4;
}
* .nav .offerDD__dropdown .link__recu .recu__p {
  height: 8vh;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__recu .recu__p:hover p {
  color: #7c87ed;
}
* .nav .offerDD__dropdown .link__recu .recu__p p {
  color: #D0BED4;
}
* .nav .offerDD__dropdown .link__fire-protection .fire__p {
  height: 8vh;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__fire-protection .fire__p:hover p {
  color: #7c87ed;
}
* .nav .offerDD__dropdown .link__fire-protection .fire__p p {
  color: #D0BED4;
}
* .nav .offerDD__dropdown .link__shop .shop__p {
  height: 8vh;
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
* .nav .offerDD__dropdown .link__shop .shop__p:hover p {
  color: red;
}
* .nav .offerDD__dropdown .link__shop .shop__p p {
  color: #D0BED4;
}
* .nav .offerDD__dropdown_disabled {
  display: none;
}
* .nav .link__blog {
  grid-area: 1/8/2/9;
  display: flex;
}
* .nav .link__blog .nav__blogBtn {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
  width: 100%;
}
* .nav .link__blog .nav__blogBtn:hover {
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .link__blog .nav__blogBtn:hover p {
  color: #7c87ed;
}
* .nav .link__blog .nav__blogBtn .link__blog p {
  text-decoration: none;
  color: #333;
}
* .nav .link__contact {
  grid-area: 1/9/2/10;
  display: flex;
}
* .nav .link__contact .nav__contactBtn {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
}
* .nav .link__contact .nav__contactBtn:hover {
  background: #242961;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .link__contact .nav__contactBtn:hover p {
  color: #7c87ed;
}
* .nav .nav__loginBtn {
  grid-area: 1/1/2/2;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 8vh;
}
* .nav .nav__loginBtn:hover {
  background: rgba(250, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* .nav .nav__loginBtn:hover .link__login p {
  color: #D0BED4;
}
* .nav .nav__loginBtn .link__login p {
  text-decoration: none;
  color: #333;
}/*# sourceMappingURL=Nav.css.map */